<div class="sidebar"  [ngClass]="{'ex1':isExpend}">

    <div class="header">
     
        <h2 class="title"></h2>
  

    <div class="toggle" (click)="toggleSidebar()">

        <span class="chevron">
            <mat-icon>menu</mat-icon>
            
        </span>

    </div>
</div>


<div class="content">

    <div class="link" [routerLink]="['/home']" [routerLinkActive]="'active'">

        <div class="icon">

            <mat-icon>home</mat-icon>


        </div>

        <div class="title">Home</div>
    
    
    
    </div>




</div>


<div class="content">

    <div class="link" [routerLink]="['/venasoft1']" [routerLinkActive]="'active'">

        <div class="icon">

            <mat-icon>home</mat-icon>


        </div>

        <div class="title">vena</div>
    
    
    
    </div>




</div>


<div class="content">

    <div class="link" [routerLink]="['/venasoft2']" [routerLinkActive]="'active'">

        <div class="icon">

            <mat-icon>home</mat-icon>


        </div>

        <div class="title">Soft</div>
    
    
    
    </div>




</div>


</div>